<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de personas</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped" id ="elementos">
      <thead>
        <tr>
          <th>Id_persona</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Edad</th>
          <th>Sexo</th>
          <th>Correo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of personas">
          <td>{{person.id_persona}}</td>
          <td>{{person.nombre}}</td>
          <td>{{person.apellido}}</td>
          <td>{{person.edad}}</td>
          <td>{{person.sexo}}</td>
          <td>{{person.correo}}</td>
          <td><button (click)="deletePersona(person.id_persona)" class="btn btn-danger">Delete</button>
              <button (click)="personaDetail(person.id_persona)" class="btn btn-info" style="margin-left: 10px">Details</button>
              <button (click)="updatePersona(person.id_persona)" class="btn btn-primary" style="margin-left: 10px">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <button (click)="listarSexo()" class="btn btn-primary" style="margin-left: 10px">Listar por sexo</button>
      <button (click)="listarEdad()" class="btn btn-primary" style="margin-left: 10px">Listar por edad</button>
    </div>
  </div>
</div>
