<h2>Detalles de la persona</h2>

<hr/>
<div *ngIf="persona">
  <div>
    <label><b>id_persona: </b></label> {{persona.id_persona}}
  </div>
  <div>
    <label><b>Nombre </b></label> {{persona.nombre}}
  </div>
  <div>
    <label><b>Apellido </b></label> {{persona.apellido}}
  </div>
  <div>
    <label><b>Edad </b></label> {{persona.edad}}
  </div>
  <div>
    <label><b>Sexo </b></label> {{persona.sexo}}
  </div>
  <div>
    <label><b>Correo </b></label> {{persona.correo}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Lista principal</button><br>
