<h3>Crear persona</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="persona.nombre" name="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Apellido</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="persona.apellido" name="lastName">
    </div>

    <div class="form-group">
      <label for="edad">Edad</label>
      <input type="number" class="form-control" id="edadId" required [(ngModel)]="persona.edad" name="edad">
    </div>
    <div class="form-group">
      <label for="sexo">Sexo</label>
      <input type="text" class="form-control" id="sexo" required [(ngModel)]="persona.sexo" name="edad">
    </div>
    <div class="form-group">
      <label for="email">Correo</label>
      <input type="email" class="form-control" id="emailId" required [(ngModel)]="persona.correo" name="email">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Completado</h4>
</div>
